<plist version="1.0">
  <dict>
  <key>items</key>
  <array>
  <dict>
  <key>assets</key>
  <array>
  <dict>
  <key>kind</key>
  <string>software-package</string>
  <key>url</key>
  <string>https://bomberfish.ca/SnapchatTweakInstaller/snap.ipa</string>
  </dict>
  <dict>
  <key>kind</key>
  <string>display-image</string>
  <key>url</key>
  <string>https://bomberfish.ca/SnapchatTweakInstaller/icon.png</string>
  </dict>
  <dict>
  <key>kind</key>
  <string>full-size-image</string>
  <key>url</key>
  <string>https://bomberfish.ca/SnapchatTweakInstaller/icon.png</string>
  </dict>
  </array>
  <key>metadata</key>
  <dict>
  <key>bundle-identifier</key>
  <string>com.toyopagroup.picabY7</string>
  <key>bundle-version</key>
  <string>11.71.0.25</string>
  <key>kind</key>
  <string>software</string>
  <key>title</key>
  <string>Snapchat++</string>
  </dict>
  </dict>
  </array>
  </dict>
  </plist>